# Byte-compiled / optimized files
__pycache__/
*.py[co]
*$py.class

.cache
.eggs
.tox
.coverage
.coverage.*
.pytest_cache
htmlcov

# OSX Finder
.DS_Store

# directories created during build/install process
build/
dist/
Lib/fontPens.egg-info/

# PyCharm's directory
.idea/
